<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inner Lesson page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
</head>
<body>

<div><a type="button" th:href="@{/allCompanies}"
        class="btn btn-primary"> MAIN PAGE</a></div>


<div class="taskTable">
    <table class="table table-bordered border-primary">
        <thead>
        <tr>
            <div class="text"><h1>TASK</h1></div>


            <th scope="col">#</th>
            <th scope="col">Task name</th>
            <th scope="col">Task text</th>
            <th scope="col">Deadline</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>

        </tr>
        </thead>
        <div th:each="task:${tasks}">
            <tbody>
            <tr>
                <th scope="row" th:text="${task.id}"></th>
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskText}"></td>
                <td th:text="${task.deadLine}"></td>



                                <td><a type="button" th:href="@{/editTask/{id}(id=${task.id})}" class="card-link">
                                    EDIT</a></td>

                                <td>
                                    <form th:method="DELETE" th:action="@{/deleteTask/{deleteId}/{id}(deleteId=${task.getId()},id=${lessId})}">
                                        <input type="submit" th:value="DELETE"/>
                                    </form>
                                </td>
            </tr>
        </div>
    </table>

    <div class="addTaskButton"><td><a th:href="@{/newTask/{courseIdTask}(courseIdTask=${lessId})}"
                                      class="btn btn-primary">ADD TASK</a></td></div>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>